echo node_modules/ > .gitignore
echo dist/ >> .gitignore
echo build/ >> .gitignore
echo .env >> .gitignore
echo *.log >> .gitignore
echo *.exe >> .gitignore
echo *.exe~ >> .gitignore
echo *.zip >> .gitignore